// Navigation code here
.nav-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 62%;
    height: 100px;
    width: 800px;
    @media @phone {
      margin: 0 auto;
      flex-wrap: wrap;
      width: 100%;
      padding-bottom: 50px;
  }
    a {
      flex-direction: row;
      justify-content: space-around;
      margin: 0 40px;
      font-size: 18px;
      text-decoration: none;
      color: black;
      padding-bottom: 20px;
      }
    }

    h2 {
      justify-content: center;
      align-items: center;
      width: 100%;
      padding-left: 250px;
    }
    